In [1]:
from entsoe import EntsoePandasClient
import pandas as pd
import matplotlib.pyplot as plt

client = EntsoePandasClient(api_key="b18dfce9-f1e3-4d07-822f-4abd1438e602")

In [18]:
start = pd.Timestamp('20230314', tz='Europe/Amsterdam')
end = pd.Timestamp('20230315', tz='Europe/Amsterdam')

countries = ['AT', 'BE', 'CZ', 'DE_LU', 'FR', 'HR', 'HU', 'NL', 'PL', 'RO', 'SI', 'SK']
non_fbmc_countries = ['DK_1', 'ES', 'IT_NORD', 'BG']

In [12]:
df_da_prices = pd.DataFrame()
for country_code in countries:
    df_da = client.query_day_ahead_prices(country_code, start=start, end=end)
    print(country_code)
    
    df_da = df_da.to_frame()
    df_da = df_da.rename(columns={
        0: country_code, 
    })

    df_da = df_da.tz_localize(None)
    df_da = df_da.resample("H").agg(["mean"])
    df_da.columns = [country_code]
    
    if df_da_prices.empty:
        df_da_prices = df_da.copy()
    else:
        df_da_prices[country_code] = df_da[country_code]
        

        df_da_prices.to_excel("day_ahead_prices.xlsx")

AT
BE
CZ
DE_LU
FR
HR
HU
NL
PL
RO
SI
SK

In [24]:
df_da_prices_non_fbmc = pd.DataFrame()
for country_code in non_fbmc_countries:
    df_da = client.query_day_ahead_prices(country_code, start=start, end=end)
    print(country_code)
    
    df_da = df_da.to_frame()
    df_da = df_da.rename(columns={
        0: country_code, 
    })

    df_da = df_da.tz_localize(None)
    df_da = df_da.resample("H").agg(["mean"])
    df_da.columns = [country_code]
    
    if df_da_prices_non_fbmc.empty:
        df_da_prices_non_fbmc = df_da.copy()
    else:
        df_da_prices_non_fbmc[country_code] = df_da[country_code]

df_da_prices_non_fbmc = df_da_prices_non_fbmc.rename(columns={
    'DK_1': 'DK1',
    'IT_NORD': 'IT'
})
df_da_prices_non_fbmc.to_excel("day_ahead_prices_non_fbmc.xlsx")

DK_1
ES
IT_NORD
BG

                        DK1      ES      IT      BG
2023-03-14 00:00:00    9.57    9.57  135.68     NaN
2023-03-14 01:00:00    4.46    4.55  113.54    9.57
2023-03-14 02:00:00    4.00    4.16  102.00    4.95
2023-03-14 03:00:00    1.95    2.36   99.50    4.90
2023-03-14 04:00:00    3.64    4.16  111.00    4.70
2023-03-14 05:00:00    9.80   12.85  130.00    7.67
2023-03-14 06:00:00   42.60   50.17  149.03   62.62
2023-03-14 07:00:00   90.42   94.36  149.03  133.62
2023-03-14 08:00:00   94.84  100.11  188.16  140.27
2023-03-14 09:00:00   83.37   57.97  171.64  129.12
2023-03-14 10:00:00   73.78   34.87  156.95   76.33
2023-03-14 11:00:00   60.94   34.95  151.44   51.00
2023-03-14 12:00:00   53.26   32.26  141.18   51.00
2023-03-14 13:00:00   59.60   30.00  141.06   25.31
2023-03-14 14:00:00   65.45   29.59  144.99   37.70
2023-03-14 15:00:00   59.82   20.01  147.99   71.00
2023-03-14 16:00:00   78.83   29.59  153.23   97.54
2023-03-14 17:00:00   99.91   38.20  153.23  128.37
2023-03-14 18:00:00  104.06   82.54  156.95  139.97
2023-03-14 19:00:00  104.04  170.04  200.41  148.78
2023-03-14 20:00:00   99.25  179.84  179.84  161.41
2023-03-14 21:00:00   99.06  157.77  157.77  146.68
2023-03-14 22:00:00   99.07  152.34  152.34  133.63
2023-03-14 23:00:00   98.25  143.96  143.96  126.88
2023-03-15 00:00:00  105.42  133.86  133.86  113.08